<h4 id="3" class="mt30">找FUSAKI安裝開關插座帶施工真的比較有便宜嗎？</h4>
<table class="ui unstackable table tab-wrap mb30">
  <thead>
  <tr>
    <th>價格比較表</th>
    <th>自行找師傅</th>
    <th class="right aligned">FUSAKI到府施工</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>師傅費用</td>
    <td>2000~2500</td>
    <td class="right aligned"><i class="fa fa-diamond red mr10" aria-hidden="true"></i>免費</td>
  </tr>
  <tr>
    <td>出勤費</td>
    <td>400~800元</td>
    <td class="right aligned">500元(滿3000則免)</td>
  </tr>
  <tr>
    <td>各開關插座施工費</td>
    <td>50~120元/個</td>
    <td class="right aligned"><i class="fa fa-diamond red mr10" aria-hidden="true"></i>80元/個</td>
  </tr>
  <tr>
    <td>耗材</td>
    <td>按個數計價</td>
    <td class="right aligned"><i class="fa fa-diamond red mr10" aria-hidden="true"></i>螺絲、電線免費(電線500mm以下)</td>
  </tr>
  <tr>
    <td>價格透明度</td>
    <td>不透明且容易被騙</td>
    <td class="right aligned"><i class="fa fa-diamond red mr10" aria-hidden="true"></i>以上已公開</td>
  </tr>
  <tr>
    <td>保固</td>
    <td>想得美...</td>
    <td class="right aligned"><i class="fa fa-diamond red mr10" aria-hidden="true"></i>兩年</td>
  </tr>
  </tbody>
</table>
