<div class="page-title-div gradient-bg" >
  <div class="container">
    <div class="row page-title-row">
      <div class="col-sm-12 text-center">
        <h2 class="page-title mt30 bold">
          <span><%= number_with_delimiter(@view_counts, :delimiter => ',') %></span><i class="fa fa-eye" aria-hidden="true" style="font-size: 16px; margin-left: 10px;">Views</i>
        </h2>
      </div>
    </div>
  </div>
</div>