<div class="main">
  <%= render 'header' %>
  <div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="ui segmendts mb50 ">

        <div class="ui segment">
          <a class="ui orange right ribbon label">2016/12/07</a>
          <div class="text_content">

            <h2>【水電的開關插座施工費】又被敲詐了嗎？如何判斷收費是否合理？</h2>
            <img src="<%= image_path 'blog/switch.jpg'%>" alt="" class="img-responsive">

            <p class="main_p">水電收費遇過、看過的收費模式百百種，網路查資料也查不到一個標準，每次聽師傅報價都有聽沒有懂，到底哪種才是合理才是恰當？
              此篇文章會詳細為您介紹有哪些費用是應該付，哪些費用是什麼情況下付才合理，或是哪些費用其實根本不用付．</p>
            <h4>水電安裝收費有四項</h4>
            <p>收費大致上會有四種費用產生，該表格已先整理出來一個標準供參考：</p>
            <table class="ui unstackable table tab-wrap">
              <thead>
              <tr>
                <th>費用</th>
                <th>價格</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>師傅費用</td>
                <td>2000~2600元</td>
              </tr>
              <tr>
                <td>出勤費用</td>
                <td>400~800元</td>
              </tr>
              <tr>
                <td>各個器具的施工費用</td>
                <td>開關插座60~120元/個</td>
              </tr>
              <tr>
                <td>周邊耗材費用【螺絲、電線...】</td>
                <td>視工程需求決定</td>
              </tr>
              </tbody>
            </table>
            <div class="clearfix">
              <h4 class="mt30">師傅費用</h4>
              <span>怎樣才是合理？</span>
            </div>
            <ul>
              <li><p>北部：2300~2600元</p></li>
              <li><p>中南部：2000~2300元</p></li>
            </ul>
            <p class="mb15">價格浮動上下五百以上偏向不合理狀態．<br>
              3000元以上的師傅也許是技術好工時短的高級師傅，除非你是大工程，不然不推薦，2300~2600元的好師傅還是很多，建議可以多多詢問，而1500元左右或以下就要詢問一下是否是學徒施作，開關插座對水電這行業來說是最常見的小工程，
              但有很多意外的突發狀況，像是螺絲斷牙(螺絲斷掉)或是滑牙(牙紋不見)，都是考驗經驗上的累積．</p>
            <ul>
              <h5>師傅</h5>
              <li><p>經驗豐富則能事先準備齊全工具應付可能會發生的狀況</p></li>
              <li><p>知道用什麼工具快速解決</p></li>
              <li><p>水電技巧純熟度和知識，會增加施工及產品安全性，像是電線去皮該去多少、電線去皮的力道、接合電線需纏繞幾圈</p></li>
            </ul>

            <ul>
              <h5>學徒</h5>
              <li><p>學徒因經驗不足很可能就真的帶個螺絲起子、老虎鉗就出發，導致無法順利處理現況</p></li>
              <li><p>學徒時常就算用對工具可能也已經浪費大半天更甚至帶來隱性危險(造成銅線受損經長久導致過熱電線走火)</p></li>
              <li><p>常有學徒去皮去太深，導致銅線外露，長期暴露在空氣中導致危險</p></li>
            </ul>

            <p class="red blod mt15">水電的突發狀況是不可能預知的，很多專業知識和小密技是經驗老到的師傅才能習得的武功，所以請勿貪圖便宜尋找過便宜的師傅，水電這行非常看重【經驗】．</p>
            <div class="clearfix">
              <h4>出勤費用</h4>
              <span>是什麼時候要付呢？</span>
            </div>
            <p>出勤費用通常可以用車程0.5~1.5小時400~800元左右計算，此費用是為了避免師傅到場之後只花不到30分鐘就解決，須支付2600元多少會覺得不平衡，但師傅也不會想只收取安裝電器的費用，<span id="pp"></span>
              <i id="con_fee"></i>畢竟師傅也是騎車花時間現場勘查才了解的，所以支付此費用對雙方而不是完整的2500元對雙方都是比較合理的！</p>


            <h4>各個器具的施工費用</h4>
            <span>顧客想像  vs  真實情況</span>
            <p>而開關插座施工費用來說，一般民眾認知是一個開關就是一個的費用，而一個開關上面有三個小開關也是相同的價錢，<span class="red blod">其實這是不是正確的</span>！<br>
              <span class="red blod">實際上一個開關上幾個小開關師傅就要施工幾次，而技術與難度是倍增的，安裝時間自然也就會拉長，所以價格其實是以開關上的個數來計算</span>，而其他更複雜的開關安裝像是控制器、感應器也都是依個別難易度做調整．</p>

            <h4>周邊耗材費用【螺絲、電線...】</h4>
            <p>安裝開關插座的週邊耗材，像是補長牙螺絲、補電線、部分貼心的水電師傅會順便幫你補漆、補土，都是會發生的，因這部分須依照現場該情況報價為主，須依水電師傅報價．</p>

            <div class="only_one">
              <%= image_tag 'blog/onlyone.jpg' %>
              <h3>真相永遠只有一個</h3>
            </div>
            <div class="clearfix">
              <h4 id="2" class="mt50">師傅費用、出勤費用、施工費用到底哪個我該付？ </h4>
            </div>
            <p>不是的！ "一般正常" 的收費方式應該是3小時內用【出勤費用 + 施工費用】計算，而超過3小時則用【師傅費用】計算，那是根據什麼原因這樣計算呢？
              一般建築業很少人在做半天，且加上中午休息一小時，再加上騎車到別的現場施工已所剩無幾，如果一個能讓師傅賺整天時數且不用一直騎車的錢，跟一個只能賺半天的錢甚至不到，你會選擇哪個呢？</p>
            <p>"不一般的" 收費方式會包括很多因素，人力仲介抽成、天氣因素、現場施工難易度(較危險地方)、車程距離及地理因素、器具過於老舊難度增高、專業知識及技術成分極高等等都是有可能使價格倍增，
              而撇開以上因素，<span class="red blod">最常發生就是不外乎就是 "不按常理收費" ，常有民眾每項費用都被索取，被坑了一筆又一筆也無力反擊．</span></p>
            <table class="ui unstackable table tab-wrap">
              <thead>
              <tr>
                <th>一般收費方式</th>
                <th>費用</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>3小時內</td>
                <td>出勤費用 + 各器具施工費用</td>
              </tr>
              <tr>
                <td>3小時以上</td>
                <td>師傅費用</td>
              </tr>
              </tbody>
            </table>
            <div class="mt40">
              <%= render 'blogs/compare_table' %>
            </div>
            <ul>
              <h4>我們的服務</h4>
              <li><p>師傅施工費用【免費】立即省下2600元</p></li>
              <li><p>開關插座80元/個計算(<a href="#pp">計價方式如上有說明</a>)但控制器、感應器另外計費</p></li>
              <li><p>螺絲免費、電線500mm內免費</p></li>
              <li><p>開關插座材料費未滿3000元則會收取500元出勤費，因車輛出車會有停車費問題產生以及施工時間不到30分鐘等問題．</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
