<div class="page-title-div gradient-bg" >
  <div class="container">
    <div class="row page-title-row">
      <div class="col-sm-12 text-center">
        <h1 class="page-title mt30 bold">
          <%= user_header_h1 %>
        </h1>
        <p>
          <%= user_header_p %>
        <p>
      </div>
    </div>
  </div>
</div>