<div class="main">
  <section class="content-section text-center h100vh flex_cneter">
    <div class="login-box ui form segment">
      <h5 class="mb10">忘記密碼</h5>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= devise_error_messages! %>

          <div class="field">
            <%= f.email_field :email, autofocus: true ,placeholder:t('devise.email') %>
          </div>

          <div class="actions">
            <%= f.submit "發送重設密碼信",class:"ui primary button" %>
          </div>
      <% end %>
    </div>

  </section>
</div>

<style>
  .ui.segments{
    box-shadow:none;
  }
  .logo h1{
    color: #bc4c4c;
  }
  .nav_header .menu-item i,.nav_header .menu-item a{
    color: #787878;
  }
  .menu-item .cart_count,.footer{
    display: none !important;
  }
</style>