
<section class="content-section achievements text-center">

  <div class="row">
    <div class="col-xs-12">
      <h4>秉持著Made In Taiwan的高品質及緊隨潮流的設計</h4>
      <h5>經歷過無數大小案場累積無數經驗，我們的服務大家看得見</h5>
      <div class="ui red basic label">
        林口選手村
      </div>
      <div class="ui red basic label">
        台中捷運
      </div>
      <div class="ui red basic label">
        國防大學
      </div>
      <div class="ui red basic label">
        師範大學博愛樓
      </div>
      <div class="ui red basic label">
        淡水雲門舞集劇場
      </div>
      <div class="ui red basic label">
        宜蘭科技園區城南基地
      </div>
      <div class="ui red basic label">
        美麗景安捷運共構/冠德建設
      </div>
      <div class="ui red basic label">
        美麗永安捷運共構/冠德建設
      </div>
      <div class="ui red basic label">
        陸光一村/營建署
      </div>
      <div class="ui red basic label">
        平安新村/營建署
      </div>
      <div class="ui red basic label">
        三峽北大國小校舍
      </div>
      <div class="ui red basic label">
        傳家堡/麗源建設
      </div>
      <div class="ui red basic label">
        阿亮的家/麗寶建設
      </div>
      <div class="ui red basic label">
        麗寶經典/麗寶建設
      </div>
      <div class="ui red basic label">
        維也納花園/麗寶建設
      </div>
    </div>
  </div> <!-- end row -->
</section>