<div id="rev_slider_46_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1" style="background-color:transparent;padding:0px;">

  <div id="rev_slider_46_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
    <ul>	<!-- SLIDE  -->
      <li data-index="rs-148" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="<%= image_path('index_header.jpg') %>"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Welcome" data-description="">
        <!-- MAIN IMAGE -->
        <img src="<%= image_path('index_header1.jpg') %>"  alt=""   data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="125" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 0 -->
        <div class="tp-caption tp-shape tp-shapewrapper" id="slide-148-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
             data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:500;s:500;" data-start="750" data-basealign="slide" data-responsive_offset="on"
             data-responsive="off" style="z-index: 4;text-transform:left;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0.50);"> </div>

        <!-- LAYER NR. 1 -->
        <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
             id="slide-148-layer-1"
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
             data-fontsize="['60','60','60','45']"
             data-lineheight="['90','90','70','50']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"
             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
             data-start="200"
             data-splitin="words"
             data-splitout="none"
             data-responsive_offset="on"
             data-elementdelay="0.05"
             style="z-index: 5; white-space: nowrap;color:#fff;">點亮家庭的第一步
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0 text-center"
             id="slide-148-layer-4"
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
             data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','110']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"
             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
             data-start="700"
             data-splitin="none"
             data-splitout="none"
             data-responsive_offset="on"
             data-fontsize="['18','18','17','17']"
             data-lineheight="['40','40','30','30']"
             style="text-align: center;z-index: 6; white-space: nowrap;color:#fff;"><br>我們是台灣唯一家專門提供到府安裝開關插座的廠商<br>從購買到安裝施工完成只需三天！<br>保證比您自己找師傅更划算、更省時
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption st-btn hvr-back hvr-rectangle-out full-rounded  rs-parallaxlevel-0"
             id="slide-148-layer-7"
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
             data-y="['middle','middle','middle','middle']" data-voffset="['254','254','254','254']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"
             data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
             data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
             data-mask_out="x:inherit;y:inherit;"
             data-start="1000"
             data-splitin="none"
             data-splitout="none"
             data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
             data-responsive_offset="on"
             data-responsive="off"
             style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;cursor:pointer;">
          <%= link_to products_path ,class:"index_header_link" do %>
              立即選購
          <% end %>
        </div>
        </div>
      </li>

    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div>

<style>
  .tp-caption.st-btn.hvr-back.hvr-rectangle-out.full-rounded.rs-parallaxlevel-0.noSwipe{
    padding: 10px 0 !important;
  }
  .index_header_link{
    color: #fff !important;
    padding: 10px 30px !important;
  }
</style>
