
<!-- ========== MAIN ========== -->
<div class="main">


  
  <!-- ========== PAGE TITLE ========== -->
  <div class="page-title-div gradient-bg">
    <div class="container">
      <div class="row page-title-row">

        <div class="col-md-6 col-sm-6">
          <h1 class="page-title">FAQs</h1>
          <p>We are here to help you.</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <ol class="breadcrumb pull-right border-0">
            <li><a href="#" class="trans">Home</a></li>
            <li><a href="#" class="trans">Pages</a></li>
            <li><a href="#" class="active trans">FAQs</a></li>
          </ol>
        </div> <!-- end col-md-6 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end page-title-div -->

  <!-- ========== FAQs STYLE 1 ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline">FAQs</h3>
          <p class="section-subtitle">You can filter them easily. </p>
        </div> <!-- end section-header -->

        <!-- ========== FAQ filters ========== -->
        <div class="col-md-8 col-md-offset-2 text-center">
          <div id="js-filters-faq" class="cbp-l-filters-underline">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
              All
            </div>
            <div data-filter=".buying" class="cbp-filter-item">
              Buying
            </div>
            <div data-filter=".author" class="cbp-filter-item">
              Author
            </div>
            <div data-filter=".account" class="cbp-filter-item">
              Account
            </div>
            <div data-filter=".copyright" class="cbp-filter-item">
              Copyright
            </div>
            <div data-filter=".community" class="cbp-filter-item">
              Community
            </div>
          </div> <!-- end cbp-l-filters-underline -->
        </div> <!-- end col-md-8 -->

        <!-- ========== FAQs ========== -->
        <div class="col-md-8 col-md-offset-2">
          <div id="js-grid-faq" class="cbp cbp-l-grid-faq">
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-check-circle-o"></i> Where can I find my Purchase Code?
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Every item purchased on Envato Market has a unique code, called a purchase code.
                    <br>
                    A purchase code is used by authors to verify you have purchased a licence for the item. The purchase code may be required to access an author’s support site (if support is offered) or to enable automatic updates.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item community">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-forumbee"></i> Forum Comments by Envato Staff & Moderators
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Envato is extremely fortunate to have a huge community with highly engaged users. Part of our community’s time on Envato Market is spent within our forums, our common grounds for communication. In order to clarify the different roles and responsibilities of the various people and roles that post in our forums we hope you find the following information useful.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-question"></i> How Do I Get Support For An Item I've Purchased?
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Authors who are designers, developers and creatives from all over the globe are responsible for the work you see on Envato Market.

                    Authors are not obligated to provide support, however most do. You will know if an author provides support, simply by viewing the “Support” tab on the item page.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-credit-card"></i> Which Author Payment Option Do I Choose?
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    As an Envato Market author you need to select the most appropriate payment method in order to receive your earnings.
                    <br>
                    Each payment method and provider may have restrictions regarding which countries they pay to, for legal and / or commercial reasons.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-copyright"></i> Can I use trademarked names in my items?
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    When deciding whether or not to use a trademarked name as a title or tag you should ask yourself this question; "Am I describing what it is or what it the item is like?"
                    <br>
                    Using trademarked names to describe what your file actually is is acceptable. Using them to describe what your file is like is not.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-history"></i> Historical Payment Rates
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Over the years Envato Market has changed fees & rates several times – always in favour of our authoring community! If you have been selling files for some time, these rates may apply to you. If you are a new author, you should review our Current Rates or read about our author program If you are interested in Selling Your Work.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item account">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-user"></i> How Do I Change My Username?
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Sign in to your Envato Account via the button at the top right of the Envato Market sites.
                    <br>
                    Frequent username changes are not permitted
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-columns"></i> Author Collaboration
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Authors may unofficially partner with other authors to create new items, but we advise strong caution when doing so. Envato Market considers the person who created an account and agreed to the terms and conditions to be the sole copyright holder of the items for sale and the only person eligible to withdraw any funds.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item account">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-unlock-alt"></i> How Do I Change My Password?
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    It is important that your Envato Account has a secure, private password at all times.
                    <br>
                    Sign in to your Envato Account via the button at the top right of the Envato Market sites.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-map-marker"></i> An Author’s Introduction to Envato Market
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Becoming an author on Envato Market carries certain legal implications. Everything you sell must be your own original content. If you use any assets that are owned by someone else, you must have a license that grants you permission to use and resell them.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-keyboard-o"></i> How to use the Whois Lookup Tool
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Whois is a widely used Internet record listing that contains the details of who owns a domain name and how to get in touch with them.
                    <br>
                    The contact details can be for both the domain’s registrar or the web hosting company providing space or storage for that specific website.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-file-excel-o"></i> Illegal Distribution Of Files
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Envato Market is not a legal body which is qualified to give you advice on these matters.  Any suggestions on this page are to be considered general and not specific to your situation. When sending legal documentation or taking any form of legal action, we recommend you consult with a legal professional. We can take no responsibility for the repercussions of following the suggestions in this document.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-exclamation-circle"></i> Protecting Your Copyright
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Some seek to fight all piracy they come across, some want to find ways to motivate users of content to pay for it, and some choose to focus on what they do sell and not change the ways of users who want all their content for free. Ultimately, this is your personal choice (and more below on the path Envato takes on the piracy issue).
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-bookmark-o"></i> Buyers Guide to YouTube Content ID & Copyright Notices
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Content ID is a popular digital fingerprinting system that content creators can use to easily identify and manage their copyrighted content on YouTube. Videos uploaded to YouTube are compared against audio and video files registered with Content ID by content owners, looking for any matches.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item community">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-comments-o"></i> Forum and Community Rules
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Envato takes great pride in it’s global and thriving community! They're part of what makes the Envato Market sites fun and friendly. The forum rules and guidelines focus on mutual respect.
                    <br>
                    All users who wish to participate or give feedback are invited to do so.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
          </div> <!-- end cbp -->
        </div> <!-- end col-md-8 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
</div> <!-- end main -->

<script type="text/javascript">
  $(function($) {
    $('#js-grid-faq').cubeportfolio({
      filters: '#js-filters-faq',
      defaultFilter: '*',
      animationType: 'sequentially',
      gridAdjustment: 'default',
      displayType: 'default',
      caption: 'expand',
      gapHorizontal: 0,
      gapVertical: 0
    });
  });
</script>



