<div class="main">

  <%= render 'welcome_header' %>

  <section class="content-section">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2 text-center">
          <div id="js-filters-faq" class="cbp-l-filters-underline">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
              全部
            </div>
            <div data-filter=".buying" class="cbp-filter-item">
              如何購買/選擇
            </div>
            <div data-filter=".author" class="cbp-filter-item">
              安裝技術指導
            </div>
            <div data-filter=".account" class="cbp-filter-item">
              金流付款
            </div>
            <div data-filter=".copyright" class="cbp-filter-item">
              退款/退貨
            </div>
            <div data-filter=".community" class="cbp-filter-item">
              大量批發
            </div>
          </div> <!-- end cbp-l-filters-underline -->
        </div> <!-- end col-md-8 -->

        <!-- ========== FAQs ========== -->
        <div class="col-md-8 col-md-offset-2">
          <div id="js-grid-faq" class="cbp cbp-l-grid-faq">
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-check-circle-o"></i> 如何選擇？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    每個商品上都會標示110V、220V、和無電壓，電壓直接照著選擇即可，部分商品內頁描述也有詳記相關使用情境、和使用方式，如有任何不暸解，可請洽客服為您輔助挑選．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item community">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-forumbee"></i> 大量出貨、工地、建案怎麼辦？價格會比較便宜嗎
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    如大量出貨、工地、建案需要叫貨，請直接聯絡客服，在包裝上會與小數量出貨、包裝方式會有差異以利施工，價格也更便宜，實際折數請聯絡客服人員．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-question"></i> 如何購買？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    進入商品內頁選擇數量，選好商品後可進入購物車(需登入)，可看到購物清單及明細，確認填寫表單後確認送出，即可付款．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-credit-card"></i> Which Author Payment Option Do I Choose?
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    As an Envato Market author you need to select the most appropriate payment method in order to receive your earnings.
                    <br>
                    Each payment method and provider may have restrictions regarding which countries they pay to, for legal and / or commercial reasons.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-copyright"></i> 退貨流程是什麼？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    如發現產品有問題、瑕疵或不正常行為發生，請先立即與客服聯繫，客服會與你確認安裝正確無虞後，客服即會判斷是否到府輔助安裝或是收貨及退款，如不是台北或桃園區域請使用貨運"貨到付款"方式寄回．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-history"></i> Historical Payment Rates
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Over the years Envato Market has changed fees & rates several times – always in favour of our authoring community! If you have been selling files for some time, these rates may apply to you. If you are a new author, you should review our Current Rates or read about our author program If you are interested in Selling Your Work.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item account">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-user"></i> 付款方式安全嗎？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    進入網頁開始到離開網頁全程使用CloudFlare的https SSL 256bit加密方式進行加密，包含付款時的智付寶全站系統架構也是此導入SSL 256bit加密機制，已是目前全世界最廣為流傳、使用的安全加密方式，請放心使用付款．<br>
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-columns"></i> Author Collaboration
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Authors may unofficially partner with other authors to create new items, but we advise strong caution when doing so. Envato Market considers the person who created an account and agreed to the terms and conditions to be the sole copyright holder of the items for sale and the only person eligible to withdraw any funds.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item account">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-unlock-alt"></i> 使用哪家付款系統？可以信任嗎？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    <a href="https://www.pay2go.com/">本網站付款系統採用智付寶Pay2go，目前為台灣前三大之一的金流服務商，提供完善的交易機制及安全，嚴防個資外洩，讓您付款無憂無慮．<br>點我可進入智付寶官網 </a><br>



                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-map-marker"></i> An Author’s Introduction to Envato Market
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Becoming an author on Envato Market carries certain legal implications. Everything you sell must be your own original content. If you use any assets that are owned by someone else, you must have a license that grants you permission to use and resell them.
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-keyboard-o"></i> 退貨條件是什麼？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    購買產品即享有法定鑑賞期一個禮拜，從到貨日開始起算，但如拆封包裝及認定已使用，恕不退貨．<br>
                    如經客服確認非經由外力破壞，或安裝錯誤等因素，確認為本產品瑕疵即可退貨．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-file-excel-o"></i> 商品退貨前需先確認的事項？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    夜光燈閃爍，其實是該燈具的高阻抗的原因所導致螢光燈不亮或是閃爍，請使用電壓回流器並聯於燈具使用即可，此問題並非開關問題．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-exclamation-circle"></i> Protecting Your Copyright
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    Some seek to fight all piracy they come across, some want to find ways to motivate users of content to pay for it, and some choose to focus on what they do sell and not change the ways of users who want all their content for free. Ultimately, this is your personal choice (and more below on the path Envato takes on the piracy issue).
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-bookmark-o"></i> 到府服務安裝怎麼選擇呢？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    在購物車選單裡可以選擇"本公司派專業師傅安裝"，而安裝服務費用也已包含在開關價格內．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
            <div class="cbp-item community">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-comments-o"></i> 大量批發的出貨時間？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    已服務建案多年，設有完善的加工產線，出貨時間即能為您需求做準備，請毋須擔心出貨時間是否延誤．
                  </div>
                </div> <!-- end cbp-caption-activeWrap -->
              </div> <!-- end cbp-caption -->
            </div> <!-- end cbp-item -->
          </div> <!-- end cbp -->
        </div> <!-- end col-md-8 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
</div> <!-- end main -->

<script type="text/javascript">
  $(function($) {
    $('#js-grid-faq').cubeportfolio({
      filters: '#js-filters-faq',
      defaultFilter: '*',
      animationType: 'sequentially',
      gridAdjustment: 'default',
      displayType: 'default',
      caption: 'expand',
      gapHorizontal: 0,
      gapVertical: 0
    });
  });
</script>



