<div class="main">

  <%= render 'welcome_header' %>

  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h5 class="red text-center mb20"><i class="fa fa-exclamation-triangle mr10" aria-hidden="true"></i>產品技術安裝上有任何疑問，請務必查明或請洽客服，以面造成短路發生意外</h5>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
          <div id="js-filters-faq" class="cbp-l-filters-underline">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
              全部
            </div>
            <div data-filter=".buying" class="cbp-filter-item">
              如何購買/選擇
            </div>
            <div data-filter=".author" class="cbp-filter-item">
              安裝技術指導
            </div>
            <div data-filter=".account" class="cbp-filter-item">
              金流付款
            </div>
            <div data-filter=".copyright" class="cbp-filter-item">
              退款/退換貨
            </div>
            <div data-filter=".community" class="cbp-filter-item">
              大量批發
            </div>
          </div> <!-- end cbp-l-filters-underline -->
        </div> <!-- end col-md-8 -->

        <!-- ========== FAQs ========== -->
        <div class="col-md-8 col-md-offset-2">
          <div id="js-grid-faq" class="cbp cbp-l-grid-faq">
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-check-circle-o"></i> 如何選擇？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    每個商品上都會標示110V、220V、和無電壓，電壓直接照著選擇即可，部分商品內頁描述也有詳記相關使用情境、和使用方式，如有任何不暸解，可請洽客服為您輔助挑選．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item community">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-forumbee"></i> 大量出貨、工地、建案怎麼辦？價格會比較便宜嗎
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    如大量出貨、工地、建案需要叫貨，請直接聯絡客服，在包裝上會與小數量出貨、包裝方式會有差異以利施工，價格也更便宜，實際折數請聯絡客服人員．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-question"></i> 如何購買？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    進入商品內頁選擇數量，選好商品後可進入購物車(需登入)，可看到購物清單及明細，確認填寫表單後確認送出，即可付款．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-credit-card"></i> 如果需要安裝兩個開關都能切換同盞燈具的方式，求教學？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    這種方式就是所謂的三路開關(對切)，這部分強烈建議須要專業師傅或人士安裝，這並不是有開關就可以，同時也需經由師傅確認當初拉線有沒有此配線，如果當初就沒有此配線有開關也沒有用，而安裝方式也比一般開關複雜很多．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-copyright"></i> 換貨流程是什麼？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    如發現購買產品有誤，請先立即與客服聯繫，客服即會判斷是否到府輔助安裝或是郵寄換貨，如不是台北或桃園區域請使用郵局方式寄回．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-history"></i> 自行安裝的事前準備！
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    在還沒準備任何器具前請先把電燈總電源關閉(無熔絲開關)，避免觸電！<br>
                    工具需要尖嘴鉗、十字螺絲起子、一字螺絲起子(退線用)、撥線鉗（如果會用尖嘴鉗者不用）．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item account">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-user"></i> 付款方式安全嗎？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    進入網頁開始到離開網頁全程使用CloudFlare的https SSL 256bit加密方式進行加密，包含付款時的智付寶全站系統架構也是此導入SSL 256bit加密機制，已是目前全世界最廣為流傳、使用的安全加密方式，請放心使用付款．<br>
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-columns"></i> 開關怎麼安裝？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    請先關閉電燈總電源．<br>
                    開關只有電源線和燈具線，大部分電源線為紅色，燈具線可能是任意色，電源線接在0的位置，燈具線接在3的位置即可，並請務必將所有電線完全插入(約12mm)．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item account">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-unlock-alt"></i> 使用哪家付款系統？可以信任嗎？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    <a href="https://www.pay2go.com/">本網站付款系統採用智付寶Pay2go，目前為台灣前三大之一的金流服務商，提供完善的交易機制及安全，嚴防個資外洩，讓您付款無憂無慮．<br>點我可進入智付寶官網 </a><br>
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-map-marker"></i> 無接地插座怎麼安裝？（不含冷氣、緊急插座、緊急押扣等）
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    切記勿將 水線(無電)和 電源線（有電）插入同一組，此動作會造成短路燒焦冒火花．<br>
                    兩孔相連為一組（ 意指距離最近、或模型射出有凹凸面且將兩孔擺放在一起為一組，如無法分辨請洽客服確認以免造成危險意外 ）<br>
                    接地插座母體有四個孔，相連兩個孔為一組則可分為兩組，標示W兩孔為水線組（將水線擇一插入即可），剩下無標示為火線組（將電源線擇一插入即可）．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-map-marker"></i> 接地插座怎麼安裝？（不含冷氣、緊急插座、緊急押扣等）
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    切記勿將 水線(無電)和 電源線（有電）插入同一組，此動作會造成短路燒焦冒火花．<br>
                    兩孔相連為一組（ 意指距離最近、或模型射出有凹凸面且將兩孔擺放在一起為一組，如無法分辨請洽客服確認以免造成危險意外 ）<br>
                    接地插座母體有六個孔，相連兩個孔為一組則可分為三組，中間兩孔為"接地線組"擇一孔插入即可，標示W兩孔為水線組（將水線擇一插入即可），剩下無標示為火線組（將電源線擇一插入即可）．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item author">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-map-marker"></i> 電鈴怎麼安裝？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    電源線接在0的位置，電鈴線(沒有電的)接在1的位置，電鈴線就是從電連線拉下來的那條線．<br>
                    但須注意自己加裝的蜂鳴器通常為直流電請選擇無夜光電鈴，否則會造成蜂鳴器一直鳴叫．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-keyboard-o"></i> 退貨條件是什麼？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    購買產品即享有法定鑑賞期一個禮拜，從到貨日開始起算，但如拆封包裝及認定已使用，恕不退貨．<br>
                    如經客服確認非經由外力破壞，或安裝錯誤等因素，確認為本產品瑕疵即可退貨．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-file-excel-o"></i> 商品退貨前需先確認的事項？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    夜光燈閃爍，其實是該燈具的高阻抗產生電壓不穩的原因所導致螢光燈不亮或是閃爍，請使用電壓回流器並聯於燈具使用即可，此問題並非開關問題．<br>
                    請務必確認電源線、接地線、燈具線接線正確無誤，詳細操作與電路圖以標記在包裝袋上，並確認電線完整插置底部．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item copyright">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-exclamation-circle"></i> 可以換貨嗎？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    可以！但須自行負擔運費和相關費用．也建議您購買前務必確認買對商品，"免費"客服也可以為您做出最適合恰當的選擇，請善用資源以免浪費不必要的費用與時間．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item buying">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-bookmark-o"></i> 到府服務安裝怎麼選擇呢？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    在購物車選單裡可以選擇"本公司派專業師傅安裝"，而安裝服務費用也已包含在開關價格內．
                  </div>
                </div>
              </div>
            </div>
            <div class="cbp-item community">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <i class="fa fa-comments-o"></i> 大量批發的出貨時間？
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    已服務建案多年，設有完善的加工產線，出貨時間即能為您需求做準備，請毋須擔心出貨時間是否延誤．
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- end cbp -->
        </div> <!-- end col-md-8 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
</div> <!-- end main -->
<%= stylesheet_link_tag    'main/cbp'%>
<%= javascript_include_tag 'main/cbp.js'%>

<script type="text/javascript">
  $(function($) {
    $('#js-grid-faq').cubeportfolio({
      filters: '#js-filters-faq',
      defaultFilter: '*',
      animationType: 'sequentially',
      gridAdjustment: 'default',
      displayType: 'default',
      caption: 'expand',
      gapHorizontal: 0,
      gapVertical: 0
    });
  });

</script>



