<table class="ui very basic celled table fluid">
  <thead class="hidden-xs">
  <tr>
    <th>施工費試算表</th>
    <th>本公司負責安裝</th>
    <th>自行找師傅</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>
      <div class="content">師傅費用</div>
    </td>
    <td>免費</td>
    <td>2000~2500元</td>
  </tr>
  <tr>
    <td>
      <div class="content">車馬費</div>
    </td>
    <td>商品未滿3000元收500元</td>
    <td>師傅有到場就是收500元</td>
  </tr>
  <tr>
    <td>
      <div class="content">各開關安裝施作費用</div>
    </td>
    <td id="construction_fee_by_our"><span><%= cart_or_order.calc_construction_fee %></span>
    </td>
    <td id="construction_fee_themselves"></td>
  </tr>
  <tr>
    <td>
      <div class="content">保固</div>
    </td>
    <td>保固兩年(僅由我方師傅安裝才可享有)</td>
    <td>無</td>
  </tr>
  <tr>
    <td>
      <div class="content">施工費總計</div>
    </td>
    <td id="construction_fee_sumup_by_our" class="red">
      <span><%= cart_or_order.calc_construction_fee_allowanc %></span>
      <div class="ui left pointing red basic label" id="detail_click">
        施工費用明細 點我！
      </div>
    </td>
    <td id="construction_fee_sumup_themselves"></td>
  </tr>

  </tbody>

</table>


