<div class="page-title-div gradient-bg" >
  <div class="container">
    <div class="row page-title-row">
      <div class="col-sm-12 text-center">
        <h1 class="page-title mt30 bold">
          <% if action_name == "new" %>
          <%= t('cart.title') %>
          <% else %>
          <%= t('order') %>
          <% end %>
        </h1>
        <p><%= t('cart.subtitle') %></p>
        <p class="mbn"><i class="fa fa-building" aria-hidden="true"></i> 提供工地大量、建案出貨批發 </p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end page-title-row -->
  </div> <!-- end container -->
</div>