/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require main/main
 *= require semantic_ui/semantic_ui
 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
  font-url('lato.woff2') format('woff2');
}


@import "bootstrap-sprockets";
@import "bootstrap/normalize";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/type";
@import "bootstrap/input-groups";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/list-group";
@import "bootstrap/grid";
@import "bootstrap/pagination";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";


@import "varible";
@import "mystyle";
@import "login";
@import "spinner";
@import "cart";
@import "order";
@import "welcome";
@import "product";


