.login_tab_link_fix{
 a{
   padding: 15px;
   display: block;
   width: 100%;
 }
  .ui.segment{padding: 0;}
}
.transparent_button{
  background-color: transparent !important;
  color: black !important;
}
.main .login-box{
  background-color: white;
  border-radius: 3px;
  padding: 0;
  width:100%;
  max-width: 500px !important;
  h4{
    text-align: center;
    font-weight: 900;
    border-bottom:1px solid #DEDEDE;
    margin-bottom: 15px;
  }
  #error_explanation{
    h2{
      display: none;
    }
  }
  li:before{
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
  }
  li{
    display: inline;

  }
}
.checkbox label{
  padding-left: 25px !important;
}
.h100vh{
  height: 100vh;
}