hr{
  margin-top: 5px !important;
  margin-bottom:5px !important;
}
h1{
  font-weight:bold;
}
.header-shadow ul.main-menu{
  margin-bottom: 0 ;
}
.list-group{
  .list-group-item:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.product_sidebar{
  p{
    margin-bottom: 5px;
    font-weight:bolder;
  }
}
.ui.bottom.attached.button{
  margin-top: 0 !important;
}
.w50p{
  width: 50%;
}
.w77p{
  width: 77%;
}
.w67p{
  width: 67%;
}
.w57p{
  width: 57%;
}
.w47p{
  width: 47%;
}
.font_red{
  color: red;
}
.por{
  position: relative;
}
#discount{
  display: none;
}
.final_amount{
  font-weight:bolder;
  font-size: 15px;
  color: red;
}
.ui.form .disabled.fields .field, .ui.form .disabled.field, .ui.form .field :disabled{
  opacity:0.8 !important;
}
tr:hover{
  background-color: rgba(150,150,150,0.07);
}
.flexcneter
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.paginator{
  text-align: center;
}
td a:hover {
  color: #F95748!important;
}
.menu i{
  margin-right: 5px;
}
.count_spinner{
  float: left;
  width: 115px;
  input[type="text"]{
    text-align: center;
    font-size: 12px !important;
    border-radius: 0 !important;
  }
}
.line_through{
  text-decoration: line-through;
}
.parallax-section_my{
  background-image: image-url('images/demo-img-2-reverse.jpg');
  background-attachment: fixed;
  -webkit-background-size:cover;
  background-size:cover;
}
.red{
  color: #FF5F5F;
}
.deep_red{
  color: #bc4c4c !important;
}
.red_span span{
  color: #FF5F5F;
}
.logo h1{
  color: #fff;
}
.secondNav .logo h1{
  color: #bc4c4c;
}
.secondNav .nav_header .logo{
  margin-top: 4px;
}
a.anchor{
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
.header .menu-item a{
  padding: 0 10px !important;
}
.main-menu .menu-item i{
  font-size: 20px;
}
.cart_count{
  position: relative;
  transform: translateY(4%);
  #current_qty{
    position: absolute;
    font-size: 15px;
    background-color: RGBA(250, 112, 112, 0.9);
    height: 25px;
    width: 25px;
    padding-left: 1px;
    line-height: 27px;
    border-radius: 50%;
    text-align: center;
    top: -10px;
    left: 34px;
    color: #fff;
  }
}
.order_product_form a.ui.button:hover{
  color: #fff !important;
  background-color: red;
}
.ui.vertical.menu{
  box-shadow: none;
}
.flash_row{
  margin:-10px 100px 30px
}
.product_index_info{
  .image > img{
    width: 120% ;
    height: 100%;
    margin-right: -3.5%;
  }
  .ui.card.fluid{
    margin-bottom: 30px;
  }
  .content{
    .fa{
      margin-right: 5px;
      font-size: 18px;
    }
  }
  .image{
    overflow: hidden;
  }
  .content{
    padding:5px 15px !important;
  }
  .descriptison{
    line-height: 21px;
    font-size: 15px;
  }
  .ui.dimmer{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.product_show_info{
  button[type="submit"]{
    height: 33px;
  }
  .product_describle{
    padding: 30px 50px;
  }
}
.flex_cneter{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.fwl{
  font-weight: lighter;
}
.ui.segment{
  box-shadow: none !important;
}
.paginator{
  margin-top: 30px;
}
@media (max-width: 767px) {
  .product_index_info{
    .ui.card.fluid{
      margin-bottom: 15px;
    }
    .col-xs-6:nth-child(2n){
      padding-left: 8px;
    }
    .col-xs-6:nth-child(2n+1){
      padding-right: 8px;
    }
  }
  .flash_row{
    margin-right:0;
    margin-left: 0;
  }
  .footer{
    text-align: center;
    .footer-last{
      margin-top: 30px;
    }
  }
  .save_money{
    position: absolute;
    z-index: 10;
    padding-right: 0;
    text-align: left !important;
    h1{
      margin-top: 50px;
    }
    .building_bg{
      height: 490px;
    }
  }
  .row.reorder-xs {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;
    margin-bottom: 30px;
  }

  .row.reorder-xs > [class*="col-"] {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    direction: ltr;
  }
}
@media (min-width: 768px) and(max-width: 992px) {
  .row.reorder-sm {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;
    margin-bottom: 30px;
  }

  .row.reorder-sm > [class*="col-"] {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    direction: ltr;
  }
}
@media (max-width: 992px) {
  .welcome_index {
    .logo h1{
      color: #bc4c4c;
    }
    .menu-mobile { color: #787878; }
  }
  .product_index.content-section{
    padding: 10px 0 !important;
  }
  .row.page-title-row{
    padding: 50px 10px;
  }
  .paginator{
    margin-top: -40px;
  }
}