.order_notice{
  background-color: #fff;
  border-radius: $radius;
  margin-bottom: 15px;
}
.order_product_form{
  padding:20px 30px 30px 30px !important;
  .ui[class*="top right attached"].label{
    color: white;
    background-color: red;
    font-size: 14px;
  }
}
.product_item{
  .item_cancel{
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    z-index:10;
  }
  position: relative;
  img{
    width: 100%;
    max-width:190px;
    margin: -20px -20px -20px 0;
  }
  .price_sum_up{
    margin-right: 20px;
    padding-top: 5px;
  }
  .product_info_header {
    margin-top: 10px;
    .bold{
      font-size: 15px;
    }
  }
  .product_info_content{
    margin-top: 10px;
    .allprice{
      font-weight: 15;
    }
  }
  & > .row{
    margin:20px 0;
  }
}
.ui.fluid.dropdown.return_orders_select{
  width: 70px;
  margin-left:10px;
  display: inline-block;
}
.thank_you_page{
  .ion-happy-outline{
    font-size: 100px;
    margin-bottom: 20px;
  }
}
.atm_modal{
  a,div.button{
    width: 100%;
  }
}
.ui.vertical.menu.order_show_sidebar{
  margin-bottom: 15px;
  width: 100%;
}
.user_show_table{
  .modify_button .ui.buttons{
    opacity: 0.85;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: -10px;
  }
}

@media (max-width: 767px) {
  .users_paid_table{
    td[name="final_price"]{
      float: left;
    }
    td[name="payment_method"]{
      float: right;
    }
    td[name="payment_check"]{
      clear: both;
    }
    a i{
      margin-left: -10px;
      margin-right: 5px;
    }
    td a:hover{
      color: #fff !important;
    }
  }
  .product_item{
    img{
      display: block;
      margin: 0 auto;
    }
    .product_info_header{
      text-align: center;
    }
    .price_sum_up{
      font-size: 14px;
    }
    .product_info_content{
      max-width: 300px;
      margin: 10px auto auto auto;
    }
    .count_spinner{
      margin-left: 20px;
    }
  }
  .order_product_form{
    .ui.table tr{
      margin-top: -12px;
    }
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .product_item{
    img{ margin: 0;}
  }
}