.promotion_header{
  img{ width: 100%;}
}
.product_show_order{
  padding-left: 30px;
  padding-top: 40px;
}
@media (max-width: 767px) {
  .product_show_order{
    text-align: center;
    padding: 0;
    .product_item{
      display: flex;
      justify-content:center;
    }
  }
}