.logo.search{
  float: right !important;
  padding: 0px !important;
  line-height: 37px;
}
.search{
  #search_link{
    color: #FFFFFF;
    cursor: pointer;
    padding: 7px 10px 13px 20px !important;
    margin-top: 14px;
  }
}
.secondNav .nav_header .logo.search{
  line-height: inherit;
}
.ui.search.sidebar{
  background-color: rgba(255, 250, 253, 0.952941);
  input[type='search']{
    padding:0 15px;
    width: calc( 87% - 75px);
  }
  input[type='submit']{
    margin-left: 15px;
  }
  input{
    box-shadow:0 5px 12px 0 rgba(34, 36, 38, 0.1) !important;
    height: 44px;
  }
}
.secondNav #search_link{
  color: #787878;
  margin-top: 0;
}
