.three_feature{
  h5,p,i{
    color: #fff;
  }
  .row{
    .feature:nth-child(1){
      background-color: RGBA(76, 187, 152, 0.80);
    }
    .feature:nth-child(2){
      background-color: RGBA(76, 187, 152, 0.90);
    }
    .feature:nth-child(3){
      background-color: RGBA(76, 187, 152, 1.00);
    }
  }
}
.introduction_fix p{
  color: brown;
}
.explodes{
  img{
    width: 100%;
  }
}