.row_reverse{
  display: flex;
  flex-direction:row-reverse;
  margin: 0;
  width: 100%;
}
.three_feature{
  h4,p,i{
    color: #fff;
  }
  i{
    font-size: 45px;
  }
  .row{
    .feature:nth-child(1){
      background-color: RGBA(76, 187, 152, 0.80);
    }
    .feature:nth-child(2){
      background-color: RGBA(76, 187, 152, 0.90);
    }
    .feature:nth-child(3){
      background-color: RGBA(76, 187, 152, 1.00);
    }
  }
}

.introduction_fix p{
  color: darkgreen;
}
.explodes {
  img{
    width: 100%;
  }
}
.explodes_xs{
  padding: 40px !important;
  img{
    width: 100%;
    //-webkit-transform:rotate(-90deg) ;
    //-moz-transform:rotate(-90deg) ;
    //-ms-transform:rotate(-90deg) ;
    //-o-transform:rotate(-90deg) ;
    //transform:rotate(-90deg) ;
  }
}
#add_to_cart_animate{
  margin-left: -40px;
}
#check_wrapper {
  width: 20px;
  margin-top: -15px;
}

.checkmark {
  stroke: white;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 1.5s ease-out forwards;
  //-webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  //animation-play-state: paused;
}
.achievements{
  padding: 50px !important;
  img{
    width: 100%;
  }
  h4,h5{
    color: #000000;
  }
  h5{
    margin-bottom: 30px;
  }
  .ui.label{
    margin:10px;
  }
}
.feature-box-4 i{
  font-size: 40px;
}
.tp-parallax-wrap .index_header_link{border: 1px solid;
  border-radius: 18px;}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}