.three_feature{
  h5,p,i{
    color: #fff;
  }
  .row{
    .feature:nth-child(1){
      background-color: RGBA(76, 187, 152, 0.80);
    }
    .feature:nth-child(2){
      background-color: RGBA(76, 187, 152, 0.90);
    }
    .feature:nth-child(3){
      background-color: RGBA(76, 187, 152, 1.00);
    }
  }
}
.introduction_fix{
  //color: black;
  background: image-url('introduce.jpeg');
  //background: linear-gradient(36deg,
  //                rgba(0, 0, 0, 0.05),
  //                rgba(0, 0, 0, 0.15)
  //),image-url('introduce.jpeg');
  background-attachment: fixed;
  -webkit-background-size:cover;
  background-size:cover;
}