<div class="row">
  <div class="col-md-2 col-xs-6">
    <p>數量 : <span id="total"><%= order.total %></span></p>
  </div>

  <div class="col-md-6 col-xs-12">
    <p class="final_amount">總金額 : $<span id="final_amount"><%= cart_or_order.final_price %></span>
    </p>
  </div>
</div>