<div class="ui segment mb30">
  <div class="promotion_header">
    <div class="row">
      <div class="col-sm-6"><%= show_random_img %></div>
      <div class="col-sm-6 pr20">
        <% if params[:type] == 't1' %>
            <h5 class="mt10">1T 系列豪華晶鑽輕觸式特色</h5>
            <p>
              輕觸型開關不同於傳統蹺蹺板式開關，利用精密設計原理達到輕觸效果，獨家研發晶鑽面板把手，與半圓弧形面蓋帶來的氣派豪華感，較屬頂級豪宅所喜愛
            </p>
        <% elsif params[:type] == 'qt' %>
            <h5 class="mt10">QT 系列精密大型押板特色</h5>
            <p>
              圓弧流線形面板以跑車流線圓滑曲線概念設計，並混合日式極簡約概念，提倡時下簡單風格，較屬年輕族群喜愛
            </p>
        <% elsif params[:type] == 'fk' %>
            <h5 class="mt10">FK 系列精密大型押板特色</h5>
            <p>
              深入大型建案與傳統家庭調查發現，此款帶有沉著穩重感的風格及傳統的設計感，深受大眾喜愛
            </p>
        <% else %>
            <h5 class="mt10"><%= t('buy_notice.pro_work') %></h5>
            <p><%= t('buy_notice.pro_work_content') %></p>
        <% end %>
        <p class="red bold mb10">產品費用已包含到府施工費，如無需服務可享六折優惠</p>
        <p class="red bold">選擇到府施工服務商品滿3000元即免500元安裝車馬費</p>
      </div>
    </div>

  </div>
</div>