<div class="page-title-div gradient-bg" >
  <div class="container">
    <div class="row page-title-row">
      <div class="col-sm-12 text-center">
        <h1 class="page-title mt30 bold">
              PRODUCT
          </h1>
        <p class="mt10">所有商品皆已包含【師傅到府施工】費用<br>如無需到府安裝服務可在購物車選擇並享有六折優惠</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end page-title-row -->
  </div> <!-- end container -->
</div>