<div class="page-title-div gradient-bg" >
  <div class="container">
    <div class="row page-title-row">
      <div class="col-sm-12 text-center">
        <h1 class="page-title mt30 bold">
              PRODUCT
          </h1>
        <p class="mt10">自己找師傅需至少須先支付2500元師傅工錢<br>選擇我們到府施工服務工錢【免費】，立馬幫您省2500元</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end page-title-row -->
  </div> <!-- end container -->
</div>