
<%= link_to orders_path, class:"admin_view_link" do %>
    <div class="cart_block" style="bottom:100px;">
      <i class="fa fa-list-alt" style="margin-top: 2px" aria-hidden="true"></i>
    </div>
<% end %>