<div class="ui top sidebar ui segment overlay search ui form">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <%= search_form_for @q do |f| %>
          <%= f.search_field :name_cont_all,class:'prompt',placeholder:'冷氣、網路...',id:'search_input' , :autofocus => true,id:'search_input',required:true%>
          <%= f.submit '搜尋',class:'ui button' %>
      <% end %>
    </div>
  </div>
</div>