<% if current_user %>
    <%= link_to new_order_path, class:"cart_count" do %>
        <div class="cart_block" id="cart_block">
          <%= shopping_cart %>
        </div>
    <% end %>
<% else %>
    <%= link_to new_session_path(:user), class:"cart_count" do %>
        <div class="cart_block" id="cart_block">
          <%= shopping_cart %>
        </div>
    <% end %>
<% end %>
