<!-- ==================================================
Footer: Classes
footer - Default footer
dark-footer - Dark footer [Use with .footer]
sticky-footer - Reveal footer on scroll
================================================== -->
<footer class="footer footer-style-3 dark-footer" id="footer">

  <div class="container footer-top">
    <div class="row">

      <!-- ========== left part ========== -->
      <div class="col-md-8 col-sm-8">
        <div class="vcenter mb20">
          <img src="<%= image_path('images/logo-light.png') %>" alt="Salt - HTML5 theme" class="img-responsive mb20" width="100">
          <div class=" clearfix">
            <p class="footer-desc">
              Multi-purpose HTML5 site template - We do innovative things to create awesome designs. Creating out of the box websites since 1999.
            </p>
          </div>
        </div> <!-- end vcenter -->
        <div class="col-md-3 col-sm-6">
          <h5 class="footer-title underline">公司特色</h5>
          <ul class="ul">
            <li><a href="#" class="trans">About Company</a></li>
            <li><a href="#" class="trans">Our Team</a></li>
          </ul>
        </div> <!-- end col-md-3 -->
        <div class="col-md-3 col-sm-6">
          <h5 class="footer-title underline">Services</h5>
          <ul class="ul">
            <li><a href="#" class="trans">Website Design</a></li>
            <li><a href="#" class="trans">Web Development</a></li>
          </ul>
        </div> <!-- end col-md-3 -->
        <div class="col-md-3 col-sm-6">
          <h5 class="footer-title underline">Shortcodes</h5>
          <ul class="ul">
            <li><a href="#" class="trans">Accordions</a></li>
            <li><a href="#" class="trans">Feature Boxes</a></li>
          </ul>
        </div> <!-- end col-md-3 -->
        <div class="col-md-3 col-sm-6">
          <h5 class="footer-title underline">Features</h5>
          <ul class="ul">
            <li><a href="#" class="trans">Headers</a></li>
            <li><a href="#" class="trans">Footers</a></li>
          </ul>
        </div> <!-- end col-md-3 -->
      </div> <!-- end col-md-8 -->

      <!-- ========== right part ========== -->
      <div class="col-md-4 col-sm-4">
        <h5 class="footer-title underline">聯絡我們</h5>
        <h2>+886 (02) 2947-1688</h2>
        <h6 class="lowercase mt10 mb30">fusakihome@gmail.com</h6>
        <p class="footer-desc address">
          <i class="icon fa fa-map-marker"></i>
          新 北 市 中 和 區<br>
          大 智 街 55 巷 20 號 1 F<br>
        </p> <!-- end footer-desc -->
      </div> <!-- end col-md-4 -->

    </div> <!-- end row -->
  </div> <!-- end footer-top -->

  <div class="footer-last">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          &copy; 2016 Make a Website
        </div>
        <div class="col-md-6 text-right">
          <a href="#" class="mr10">Terms of Use</a> <a href="#">Privacy Policy</a>
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end footer-last -->
</footer>
